img {
    width: 200px;
}
.messageShow{
    background-color: whitesmoke;
    width: 200px;
    height: 100px;
    border: 2px solid burlywood;
    margin-top: 5px;
}
.numberToMatch{
    background-color: whitesmoke;
    width: 300px;
    height: 100px;
    border: 2px solid burlywood;

}
.winsLosses{
    background-color: whitesmoke;
    width: 300px;
    height: 100px;
    border: 2px solid burlywood;

}
.usertotal{
    background-color:whitesmoke;
     width: 300px;
    height: 100px; 
    border: 2px solid burlywood;

}
body{
   background: url("assets/images/concrete_seamless.png")
}
.headTitle{
   border: 2px solid burlywood;
   text-align: center;
   margin-top: 5px; 
   background-color: aliceblue;
   background: url("https://png.pngtree.com/thumb_back/fh260/back_pic/02/68/42/5957908fe6d9740.jpg")
}
.numberToMatch{
   text-align: center;
   font-size: 20px;
   padding-top: 25px ;
   border: 2px solid burlywood;

}